# 240109

#### 1.1.2 연습문제: 직선 거리 계산
https://wikidocs.net/215049

In [1]:
import math
math.sqrt(550**2 + 600**2)

# 파이썬은 **가 거듭제곱인 것 같다... 망했다...

813.9410298049853

#### 1.2.1 연습문제: 파일 크기 계산
https://wikidocs.net/125567

In [2]:
speed = 800
time = 110

speed * time / 1000

88.0

#### 1.3 리스트(list)
https://wikidocs.net/53

In [3]:
family = ['mother', 'father', 'gentleman', 'sexy lady']
len(family)

4

In [4]:
# remove
family.remove('gentleman')
family

['mother', 'father', 'sexy lady']

#### 1.6.1 연습 문제: 제곱
https://wikidocs.net/101632

In [5]:
user_input = input("정수를 입력해주세요: ")
number = int(user_input)

number**2

# 정수형으로 바꿔주자!

정수를 입력해주세요: 3

9

# 240113

## 2. 제어 구조

### 2.1 while을 사용하는 반복문

#### 2.1.1 연습 문제: 입력받은 숫자만큼 반복하기(while)
https://wikidocs.net/101633

In [6]:
num = int(input("숫자를 입력하세요: "))
i = 0
while i < 3:
    print('', num) # 파이썬은 콤마면 되는구나...
    i+=1

숫자를 입력하세요: 3
 3
 3
 3

#### 2.1.2 연습 문제: 제곱표(while)
https://wikidocs.net/86465

In [7]:
num = int(input("정수 한 개 입력해보시렵니까: "))
i = 1

while i <= num:
    print(i, i**2)
    i+=1

정수 한 개 입력해보시렵니까: 3
1 1
2 4
3 9

#### 2.1.3 연습 문제: 얌체공
https://wikidocs.net/85687

In [8]:
height = 100
times = 1

while times <= 10:
    height = height * 3 / 5
    print(times, round(height, 4))
    times += 1

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

#### 2.1.4 연습 문제: 코드를 보고 실행 결과 맞히기
https://wikidocs.net/115057

## 2.2 조건문(if-elif-else)

### 2.2.1 연습 문제: 숫자 읽기(1~3)
https://wikidocs.net/123990

In [9]:
num = int(input("숫자를 입력해주세요: "))

if num == 1:
    ans = "일"
elif num == 2:
    ans = "이"
elif num == 3:
    ans = "삼"

print(ans)

숫자를 입력해주세요: 3
삼

#### 2.2.2 연습 문제: 나이에 따른 세대 구분 (1)
https://wikidocs.net/190149

In [10]:
age = int(input("몇년도에 태어나셨습니까? "))
if age <= 1924:
    ans = "가장 위대한 세대(The Greatest Generation)"
elif age <= 1945:
    ans = "침묵 세대(The Silent Generation)"
elif age <= 1964:
    ans = "베이비붐 세대(baby boomer)"
elif age <= 1980:
    ans = "X세대(Generation X)"
elif age <= 1996:
    ans = "밀레니얼(millennial)"
else:
    ans = "Z세대(Generation Z)"

print("You are a", ans)

몇년도에 태어나셨습니까? 1994
You are a 밀레니얼(millennial)

#### 2.2.3 연습 문제: 단위 기호
https://wikidocs.net/163168

In [11]:
num = int(input("뭘로 할건데: "))
result = str(num)

if num >= 1000:
    result = str(num // 1000) + 'k'

print(result)

뭘로 할건데: 3
3

#### 2.2.4 연습 문제: 양수만 덧셈하기
https://wikidocs.net/101634

In [12]:
# 이건 내거고
num = int(input())
ans = 0

while num >= 0:
    ans += num
    num = int(input())

print(ans)

3
4
-1
7

In [13]:
# 정답은
sum = 0
while True:
    num = int(input())
    if num < 0:
        break
    else:
        sum += num

print(sum)

1
2
3
-1
6

#### 2.2.5 연습 문제: 윤년 판별하기
https://wikidocs.net/88691

In [14]:
# 내 답
year = int(input())
ans = ""

if (year % 4 == 0) & (year % 100 == 0) & (year % 400 == 0):
    ans = "윤년"
elif (year % 4 == 0) & (year % 100 == 0):
    ans = "평년"
elif (year % 4 == 0):
    ans = "윤년"
    
print(ans)

1996
윤년

In [15]:
# 정답
is_leap_year = None

year = int(input())

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            is_leap_year = True
        else:
            is_leap_year = False
    else:
        is_leap_year = True
else:
    is_leap_year = False
    
if is_leap_year:
    print(f'{year} is a leap year')
else:
    print(f'{year} is not an leap year')

1964
1964 is a leap year

#### 2.2.7 연습 문제: 나이에 따른 세대 구분 (2)
https://wikidocs.net/190208

In [16]:
# 내거긴 한데 이거보다는 정답이 훨씬 나음
nationality = input("한국인입니까?: ")
age = int(input("출생년도: "))

if nationality == "y":
    if age <= 1924:
        ans = "가장 위대한 세대(The Greatest Generation)"
    elif age <= 1954:
        ans = "침묵 세대(The Silent Generation)"
    elif age <= 1963:
        ans = "베이비붐 세대(baby boomer)"
    elif age <= 1980:
        ans = "X세대(Generation X)"
    elif age <= 1996:
        ans = "밀레니얼(millennial)"
    else:
        ans = "Z세대(Generation Z)"
elif nationality == "n":
    if age <= 1924:
        ans = "가장 위대한 세대(The Greatest Generation)"
    elif age <= 1945:
        ans = "침묵 세대(The Silent Generation)"
    elif age <= 1964:
        ans = "베이비붐 세대(baby boomer)"
    elif age <= 1980:
        ans = "X세대(Generation X)"
    elif age <= 1996:
        ans = "밀레니얼(millennial)"
    else:
        ans = "Z세대(Generation Z)"
    
print(ans)

한국인입니까?: y
출생년도: 1964
X세대(Generation X)

In [17]:
# 정답

y = int(input('What year were you born? '))

gen = None
if y <= 1924:
    gen = 'the Greatest Generation'
elif y <= 1945 or (
        y <= 1954 and input("Are you Korean?(y/n) ").lower()[0] == 'y'
    ):
    gen = 'the Silent Generation'
elif y <= 1963 or (
        y <= 1964 and input("Are you Korean?(y/n) ").lower()[0] != 'y'
    ):
    gen = 'a baby boomer'
elif y <= 1980:
    gen = 'a Gen X'
elif y <= 1996:
    gen = 'a millennial'
else:
    gen = 'a Gen Z'

print(f"You're {gen}.")

What year were you born? 1964
Are you Korean?(y/n) y
You're a Gen X.

### 2.3 for를 사용하는 반복문

#### 2.3.1 연습 문제: 입력받은 숫자만큼 반복하기(for)
https://wikidocs.net/105693

In [18]:
num = int(input())

for i in range(num):
    print('', num)

3
 3
 3
 3

#### 2.3.2 연습 문제: 제곱표(for)
https://wikidocs.net/105694

In [19]:
num = int(input())

for i in range(num):
    print(i+1, (i+1)**2)

3
1 1
2 4
3 9

#### 2.3.3 연습 문제: 화학 실험실
https://wikidocs.net/99692

In [20]:
L = input().split()
min = int(L[0])
max = int(L[1])

temp = int(input())

if temp != -999:
    if min <= temp <= max:
        print("Nothing to report")
        temp = int(input())
    else:
        print("Alert!")
        break

10 20
15

SyntaxError: 'break' outside loop (3742705803.py, line 13)

## 3. 함수

### 3.1 함수

#### 3.1.1 연습 문제: 자릿수를 구하는 함수 만들기
https://wikidocs.net/192431

In [21]:
# 내거
def numOfDigits(a):
    b = str(a)
    ans = len(b)
    print(ans)

numOfDigits(123456789)

9

In [22]:
# 정답
def numOfDigits(num):
    print(len(str(num)))
    
numOfDigits(123456789)

9

#### 3.1.2 연습 문제: 구구단
https://wikidocs.net/67

In [23]:
def gugu():
    for i in range(2, 10):
        for j in range(1, 10):
            print(i, '*', j, '=', i*j)
gugu()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [24]:
# 정답
def multi(m):
    for n in range(1, 10):
        print(f'{m} * {n} = {m*n:2d}')

if __name__ == '__main__':
    for i in range(2, 10):
        multi(i)
        print()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 3.2 반환(return) 문

#### 3.2.1 연습 문제: 숫자 읽기 함수(1~10)
https://wikidocs.net/124002

In [25]:
def korean_number(num):
    if int(num) == 1:
        return '일'
    elif int(num) == 2:
        return '이'
    elif int(num) == 3:
        return '삼'
    elif int(num) == 4:
        return '사'
    elif int(num) == 5:
        return '오'
    elif int(num) == 6:
        return '육'
    elif int(num) == 7:
        return '칠'
    elif int(num) == 8:
        return '팔'
    elif int(num) == 9:
        return '구'
    elif int(num) == 10:
        return '십'
    
korean_number(1)

'일'

#### 3.2.2 연습 문제: 함수 정의하기
https://wikidocs.net/121662

In [26]:
# 이야 파이썬 진짜 쉽네

def triple(x):
    return x*3

triple('e')

'eee'

In [27]:
from datetime import datetime
today = datetime.today()

def korean_age(birth_year):
    return(today.year - birth_year + 1)

print(korean_age(1999))

26

#### 3.2.3 연습 문제: 이자(단리) 계산
https://wikidocs.net/109529

In [28]:
# 문제 1
def simple_interest(p, r, t):
    return p*r*t

simple_interest(10000000, 0.03875, 5)

1937500.0

In [29]:
# 문제 2
def simple_interest_amount(p,r,t):
    return p*(1 + r*t)

simple_interest_amount(10000000, 0.03875, 5)

11937500.0

#### 3.2.4 연습 문제: 복리 계산
https://wikidocs.net/109530

In [30]:
def compound_interest_amount(p,r,t,n):
    return p*(1+r/n)**(t*n)

compound_interest_amount(1500000, 0.043, 6, 4)

1938836.8221341055

### 3.5 람다(lambda)

In [31]:
# map()
result = list(map(lambda x: x ** 2, range(5)))
print(result)

[0, 1, 4, 9, 16]

In [32]:
# reduce()
from functools import reduce # 필수적
print(reduce(lambda x,y: x+y, [0,1,2,3,4]))
print(reduce(lambda x,y: y+x, 'abcde'))

10
edcba

In [33]:
# filter()
print(list(filter(lambda x: x < 5, range(10))))

print(list(filter(lambda x: x % 2, range(10))))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

#### 3.5.1 연습 문제: 놀이 공원 (1)
https://wikidocs.net/165950

In [34]:
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
        templist = []
        for x in limit.split('~'):
            templist.append(int(x.replace('cm', '')))
        cmmin, cmmax = templist[0], templist[1]
    elif "이상" in limit:
        cmmin = int(limit.replace("이상", "").replace("cm", ""))
    return ridename, cmmin, cmmax

if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    
    # cmmax가 None인 경우 따로 처리
    cmmax_str = "없음" if cmmax is None else str(cmmax)
    
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax_str)

플라이벤처: 140cm~195cm
이름: 플라이벤처
하한: 140
상한: 195

## 4. 데이터 타입

### 4.2 문자열과 리스트

In [35]:
s = "hello Python!"
s.find('o')

4

In [36]:
s = 'hello Python!'
h = s[0:6]
print(h.rstrip())
print(s.split()[0])

hello
hello

In [37]:
prime = [3, 7, 11]
prime.append(5) #[3, 7, 11, 5]
prime.sort() #[3, 5, 7, 11]
prime.insert(0,2) #[2, 3, 5, 7, 11]
del prime[4] #[2, 3, 5, 7]

a = prime.pop() # 삭제한 원소를 a 변수로 받음, [3, 5, 7]
prime[0] = 1 #[1, 3, 5]

문자열을 리스트로 바꾸기

In [38]:
characters = []
sentence = "Be happy!"
for char in sentence:
    characters.append(char)

print(characters)
list('Be happy!')

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

숫자를 문자열로 바꾸기

In [39]:
my_int = 123
my_int = str(my_int)
type(my_int)

str

문자열을 숫자로 바꾸기

In [40]:
int('123')

123

리스트 원소들의 합 구하기

In [41]:
one_to_ten = list(range(1, 11))
my_sum = sum(one_to_ten)

TypeError: 'int' object is not callable

성적표

In [42]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]
minsu = [90, 60, 70]

students = [chulsu, younghee, yong, minsu]

for scores in students:
    total = 0
    for s in scores:
        total = total + s
    average = total / 3
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

#### 4.2.1 슬라이싱
https://wikidocs.net/213786

In [43]:
# replace()
h = 'Hello world!'
h.replace('world', 'Python') #'Hello Python!'
print(h[-3:]) #뒤에서 3번째부터 끝까지, ld!

# 역순복사
p = 'Python'
p[::-1] #'nohtyP'

ld!

'nohtyP'

#### 4.2.2 연습 문제: 회문 판별 함수 만들기
https://wikidocs.net/121842

In [44]:
def palindrome(word):
    return word.lower().replace(' ', '') == word[::-1].lower().replace(' ', '')

palindrome('My gym')

True

### 4.3 튜플(tuple)

In [45]:
def magu_print(x, y, *rest): # *찍으면 그 이후로 들어오는 것들은 모두 튜플로
    print(x, y, rest)

magu_print(1,2,3,4,5,6,7,8,9,10)

1 2 (3, 4, 5, 6, 7, 8, 9, 10)

In [46]:
t = ('a', 'b', 'c')
empty = () # 빈 튜플 만들 때에는 꼭 ()
one = 5, # 한 개 원소만 있으면 원소 뒤에 콤마 필요

# 리스트와 달리 원소값을 직접 바꿀 수 없으니, 오려붙이는 방법
p = (1,2,3)
q = p[:1] + (5,) + p[2:]
print("q:", q)

r = p[:1], 5, p[2:]
print("r:", r)

q: (1, 5, 3)
r: ((1,), 5, (3,))

tuple -> list // list -> tuple

In [47]:
p = 1, 2, 3
q = list(p) # tuple -> list
r = tuple(q) # list -> tuple

print("q:", q)
print("r:", r)

q: [1, 2, 3]
r: (1, 2, 3)

#### 4.3.1 연습 문제: 내일의 날짜 구하기(1)
https://wikidocs.net/116204

In [49]:
# 택도 없는 내 거
day = input()

year, month, date = day.split(' ')[0], day.split(' ')[1], day.split(' ')[2]

print(f'{month}/{date}/{year}')

2018 10 2
10/2/2018

In [50]:
# 정답

def read_date():
    year, month, day = tuple(map(int, input().split()))
    return year, month, day

def print_date(date):
    year, month, day = date
    print("%02d/%02d/%04d" % (month, day, year))
    
def advance_day(date):
    year, month, day = date
    
    end_of_month = (month, day) in [(1, 31), (2, 28), (3, 31), (4, 30), (5,
        31), (6, 30), (7, 31), (8, 31), (9, 30), (10, 31), (11, 30), (12, 31)]
    
    end_of_year = month == 12 and day == 31
    
    if end_of_month:
        if end_of_year:
            year += 1
            month = 1
            day = 1
        else:
            month += 1
            day = 1
    else:
        day += 1
        
    return year, month, day

if __name__ == "__main__":
    today = read_date()
    print_date(today)
    tomorrow = advance_day(today)
    print_date(tomorrow)

2018 10 2
10/02/2018
10/03/2018

### 4.4 딕셔너리(dict)

In [53]:
smalldic = {'dictionary': 'reference', 'python': 'snake'}
smalldic['python'] #'snake'

del smalldic['dictionary']
smalldic

{'python': 'snake'}

In [60]:
family = {'mom': 'Kim', 'dad': 'Choi', 'baby': 'Choi'}
print(family.keys())
print(family.values())
print(family.items())

print('dad' in family)
print('sister' in family)

dict_keys(['mom', 'dad', 'baby'])
dict_values(['Kim', 'Choi', 'Choi'])
dict_items([('mom', 'Kim'), ('dad', 'Choi'), ('baby', 'Choi')])
True
False

### 4.5 세트(set)

In [65]:
fruits = {'apple', 'banana', 'orange'}
fruits.add('mango')

companies = set() # 빈 세트 가능
companies = {'apple', 'microsoft', 'google'}

print(type(companies))
print(fruits & companies) # 교집합
print(fruits | companies) # 합집합

<class 'set'>
{'apple'}
{'mango', 'orange', 'google', 'microsoft', 'apple', 'banana'}

In [66]:
# 여러 세트를 리스트에 담은 뒤 set의 메서드 사용 가능
list_of_sets = [fruits, companies]
print(set.intersection(*list_of_sets)) # 교집합
print(set.union(*list_of_sets)) # 합집합

{'apple'}
{'mango', 'orange', 'google', 'microsoft', 'apple', 'banana'}

In [67]:
# 집합끼리 뺄셈도 가능!
S1 = {1, 2, 3, 4, 5, 6, 7}
S2 = {3, 6, 9}
S1 - S2

{1, 2, 4, 5, 7}